 .container .title{
    color: var(--color-white);
    font-size: 2.5rem;
    text-align: center;
    margin:  2rem 0 1rem;
 }

 .title .query-text{
    color: var(--color-primary);
 }

 .movies-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
 }

 .movies-container div{
   width: 30%;
   color: var(--color-white);
   margin-bottom: 2.5rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background: #111;
   padding: 1rem;
 }

 .movies-container div img{
   max-width: 100%;
 }

 .movies-container div img,.movies-container div h2, .movies-container div p{
   margin-bottom: 1rem;
 }

 .movies-container div svg{
   color: var(--color-primary);
 }

 .movies-container div a{
   background: var(--color-primary);
   border: 2px solid var(--color-primary);
   border-radius: 4px;
   color: var(--color-black);
   padding: 1rem .5rem;
   align-items: center;
   transition: .2s;
   gap: 5px;
   text-align: center;
   font-weight: bold;
}

.movies-container div a:hover{
   background: transparent;
   color: var(--color-primary);
}

@media (max-width: 768px) {
 .container .title{
  font-size: 2rem;
  text-align: center;
  margin:  1rem 0 1rem;
}



  .movies-container div{
    width: 48%;
    color: var(--color-white);
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #111;
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .movies-container div{
    width: 100%;
    color: var(--color-white);
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #111;
    padding: 1rem;
  }
}